@import url(../block/page/page.css);
@import url(../block/header/header.css);

@import url(../block/main/main.css);

@import url(../block/assingment/assingment.css);
@import url(../block/assingment/__title/assingment__title.css);
@import url(../block/assingment/__input/assingment__input.css);

@import url(../block/danger/danger.css);

@import url(../block/table/table.css);
@import url(../block/table/__title/table__title.css);
@import url(../block/table/__item/table__item.css);
@import url(../block/table/__text/table__text.css);
@import url(../block/table/__btn-add/table__btn-add.css);
@import url(../block/table/__list/table__list.css);

@import url(../block/list/list.css);

@import url(../block/massage/massage.css);
@import url(../block/massage/__text/massage__text.css);

@import url(../block/form/__button/form__button.css);
@import url(../block/form/__btn-save/form__btn-save.css);
@import url(../block/form/__btn-reset/form__btn-reset.css);

@import url(../block/modal/modal.css);
@import url(../block/modal/__title/modal__title.css);
@import url(../block/modal/__btn-save/modal__btn-save.css);
@import url(../block/modal/__objects/modal__objects.css);
@import url(../block/modal/__objects/_orientation/modal__objects_orientation_vertical.css);

@import url(../block/objects/objects.css);
@import url(../block/objects/__title/objects__title.css);
@import url(../block/objects/__text/objects__text.css);
@import url(../block/objects/__item/objects__item.css);
@import url(../block/objects/__title/_orientation/objects__title_orientation_vertical.css);

@import url(../block/item/item.css);
@import url(../block/item/);
@import url(../block/item/__text/item__text.css);
@import url(../block/item/__input/item__input.css);
@import url(../block/item/_orientation/item_orientation_vertical.css);


@import url(../block/close/close.css);


.close__objects {
    display: block;
}
.objects__title {
    display: grid;
    grid-template-columns: 100px repeat(3,1fr);
    gap: 5px;
    margin: 5px 0;
}
.objects__text{
    margin: 0 auto 0 3px;
}
.objects__item {
    display: grid;
    grid-template-columns: 100px repeat(3,1fr);
    gap: 5px;
    margin-bottom: 2px;
}
.item__text {
    margin: 0;
}

.close__btn-save {
    position: absolute;
    width: 100px;
    margin: 0 0 0 auto;
    right: 0;
}